.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: roboto;
    padding: 10px;
    margin: 10px;    
}

.Button.Primary:hover:not([disabled]) {
    color: #125cbd;
}

.Button.Danger:hover:not([disabled]) {
    color:#813c04;

}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #d16d1c;
}

.Primary {
    color: #4aadf0;
}